
.button {
    color: white;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    /* width: 24.49px; add desired wdith and height of notification icon
    height:18px; */

  
}

.button__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: .88rem;
    font-weight: 600;
    background-color: #fa3e3e;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 0 2.5px white; /* Add circular margin border */
    width:19px;
    height:19px;
    /* margin-top: 4px; Add desired Adjustment for badge per icon
    margin-right: 5px; */
    position: absolute;
    top: -50%; 
    right: -50%; 
}
