
.App {
  /* Assuming you want the parent element to occupy the entire viewport */
  width: 100vw;
  text-align: left;

}

.flex-container {
  width: 100%; /* Set the width to 100% of its parent's width */
  display: flex; /* Add flex display to enable flexbox behavior */
}

.flex-item-right {
  /* Ensure flex items take up equal space */
  flex: 1;
}

