@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    box-sizing: border-box;
    font-family: 'Open Sans',  'sans-serif';
}
h1 {
    margin: 0;
    font-size: 2rem;
}

.day-meal-summary {
    display:flex;
    align-items: center;
    margin-top:1.94rem;
    margin-bottom: 3.06rem;
}

.calorie-summary {
    padding-left: 7.81rem;
}
.time-summary {
    padding-left: 4.88rem;
}

.day-meal-item {
    margin-bottom: 1.44rem;
}

.day-meal-item:last-child {
    margin-bottom: 0;
}