@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*standardize the page */
body {
    box-sizing: border-box;
    font-family: 'Open Sans',  'sans-serif';
}
.empty-small-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 21.81rem;
    height: 16.13rem;
    border-radius: 30px;
    background-color: rgba(200, 232, 156, 0.5);
    font-size: 1.56rem;
}

